<h1>The Perry Murder Mystery</h1>
<% @stories.each do |story| %>
<div class = "story">
  <h2><%= link_to story.name, story %></h2>
  <p><%= story.description %></p>
  <img src = "<%= story.img_url %>">
</div>
<% end %>
